.comment {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.comment > img { 
  width: 3rem;
  height: 3rem;
  border-radius: 8px;
}

.commentBox { 
  flex: 1;
}

.commentContent { /*região de fundo do comentário*/
  background: var(--gray-700);
  border-radius: 8px;
  padding: 1rem;
}

.commentContent header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.authorAndTime strong {
  display: block;
  font-size: 0.875rem;
  line-height: 1.6;
}

.authorAndTime time {
  display: block;
  font-size: 0.75rem;
  line-height: 1.6;
  color: var(--gray-400);
}

.commentContent header button {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer; 
  line-height: 0;
  border-radius: 2px;
}

/*Passar mouse sobre o botão*/
.commentContent header button:hover {
  color: var(--red-500);
}

.commentContent p { /*conteúdo do comentário*/
  margin-top: 1rem;
  color: var(--gray-300);
}

.commentBox footer {
  margin-top: 1rem;
}

/*botão aplaudir*/
.commentBox footer button {
  background: transparent;
  border: 0;
  color: var(--gray-400);
  cursor: pointer;

  display: flex;
  align-items: center;

  border-radius: 2px;
}

/*mouse sobre o botão de aplaudir*/
.commentBox footer button:hover {
  color: var(--green-300);
}

.commentBox footer button svg {
  margin-right: 0.5rem;
}

/*criado um elemento antes do span
  - Apenas para inserir o ponto antes do número
*/
.commentBox footer button span::before {
  content: "\2022";
  padding: 0 0.25rem;
}